
 .center-div {
    width: 100px !important;
    height: 50px ;
    position: fixed;
    top: calc(50% - 50px) !important;
    left: calc(50% - 155px) !important;
 }


 .round-shape{
    border-radius:50px;
    height: 158px ;
    
  }